In [7]:
import pandas as pd 
import numpy as np 
import MetaTrader5 as mt5

In [8]:
mt5.initialize()

True

In [9]:
import datetime
import pytz


timezone = pytz.timezone("Etc/UTC")
# Convert the selected dates to datetime objects and set timezone



utc_from = datetime.datetime(2024, 10, 1, tzinfo=timezone)
utc_to = datetime.datetime(2024, 10, 31, tzinfo=timezone)

In [10]:
rates = mt5.copy_rates_range("EURUSD", mt5.TIMEFRAME_M5, utc_from, utc_to)

In [11]:
df = pd.DataFrame(rates)

In [12]:
df['time'] = pd.to_datetime(df['time'], unit='s')
df.to_csv("October.csv")

In [ ]:
df

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-10-01 00:00:00,1.11346,1.11346,1.11236,1.11298,27,5,0
1,2024-10-01 00:05:00,1.11298,1.11336,1.11292,1.11336,49,13,0
2,2024-10-01 00:10:00,1.11336,1.11336,1.11324,1.11331,50,15,0
3,2024-10-01 00:15:00,1.11331,1.11334,1.11317,1.11327,162,17,0
4,2024-10-01 00:20:00,1.11328,1.11343,1.11325,1.11332,119,11,0
...,...,...,...,...,...,...,...,...
6332,2024-10-30 23:40:00,1.08594,1.08605,1.08593,1.08597,82,0,0
6333,2024-10-30 23:45:00,1.08597,1.08598,1.08576,1.08576,140,0,0
6334,2024-10-30 23:50:00,1.08576,1.08581,1.08563,1.08563,149,0,0
6335,2024-10-30 23:55:00,1.08563,1.08569,1.08550,1.08566,197,0,0
6336,2024-10-31 00:00:00,1.08558,1.08568,1.08514,1.08556,35,7,0