In [1]:
import pandas as pd 
import numpy as np 
import MetaTrader5 as mt5

In [2]:
mt5.initialize()

True

In [3]:
import datetime
import pytz


timezone = pytz.timezone("Etc/UTC")
# Convert the selected dates to datetime objects and set timezone



utc_from = datetime.datetime(2018, 1, 1, tzinfo=timezone)
utc_to = datetime.datetime(2024, 10, 31, tzinfo=timezone)

In [4]:
rates = mt5.copy_rates_range("EURUSD", mt5.TIMEFRAME_M5, utc_from, utc_to)

In [5]:
df = pd.DataFrame(rates)

In [6]:
df['time'] = pd.to_datetime(df['time'], unit='s')
df.to_csv("October2.csv")

In [7]:
df

,time,open,high,low,close,tick_volume,spread,real_volume
0,2018-01-02 00:00:00,1.20096,1.20175,1.20011,1.20137,798,50,0
1,2018-01-02 01:00:00,1.20143,1.20155,1.20022,1.20106,3597,50,0
2,2018-01-02 02:00:00,1.20106,1.20178,1.20092,1.20161,2644,50,0
3,2018-01-02 03:00:00,1.20160,1.20234,1.20139,1.20155,4374,50,0
4,2018-01-02 04:00:00,1.20155,1.20163,1.20078,1.20094,2935,50,0
...,...,...,...,...,...,...,...,...
507929,2024-10-30 23:40:00,1.08594,1.08605,1.08593,1.08597,82,0,0
507930,2024-10-30 23:45:00,1.08597,1.08598,1.08576,1.08576,140,0,0
507931,2024-10-30 23:50:00,1.08576,1.08581,1.08563,1.08563,149,0,0
507932,2024-10-30 23:55:00,1.08563,1.08569,1.08550,1.08566,197,0,0
507933,2024-10-31 00:00:00,1.08558,1.08568,1.08514,1.08556,35,7,0