In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data1.csv")

In [3]:
df

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-09-02 00:00:00,1.10461,1.10555,1.10418,1.10533,2427,3,0
1,2024-09-02 04:00:00,1.10534,1.10554,1.10437,1.10482,3614,3,0
2,2024-09-02 08:00:00,1.10483,1.10773,1.10453,1.10674,6179,3,0
3,2024-09-02 12:00:00,1.10674,1.10725,1.10584,1.10677,5953,3,0
4,2024-09-02 16:00:00,1.10681,1.10718,1.10599,1.10656,4602,3,0
5,2024-09-02 20:00:00,1.10656,1.10725,1.10656,1.10701,771,2,0
6,2024-09-03 00:00:00,1.10692,1.10726,1.10589,1.10603,2293,3,0

In [8]:
df['SMA'] = df["close"].rolling(3).mean()

In [9]:
df

,time,open,high,low,close,tick_volume,spread,real_volume,SMA
0,2024-09-02 00:00:00,1.10461,1.10555,1.10418,1.10533,2427,3,0,NaN
1,2024-09-02 04:00:00,1.10534,1.10554,1.10437,1.10482,3614,3,0,NaN
2,2024-09-02 08:00:00,1.10483,1.10773,1.10453,1.10674,6179,3,0,1.105630
3,2024-09-02 12:00:00,1.10674,1.10725,1.10584,1.10677,5953,3,0,1.106110
4,2024-09-02 16:00:00,1.10681,1.10718,1.10599,1.10656,4602,3,0,1.106690
5,2024-09-02 20:00:00,1.10656,1.10725,1.10656,1.10701,771,2,0,1.106780
6,2024-09-03 00:00:00,1.10692,1.10726,1.10589,1.10603,2293,3,0,1.106533