In [ ]:
!pip install tensorflow

In [2]:
import MetaTrader5 as mt5

In [3]:
mt5.initialize()

True

In [2]:
#Scrape data

import MetaTrader5 as mt5
import pandas as pd
import datetime
import pytz

mt5.initialize()
timezone = pytz.timezone("Etc/UTC")

utc_from = datetime.datetime(2023, 1, 1, tzinfo=timezone)
utc_to = datetime.datetime(2023, 12, 31, tzinfo=timezone)

rates = mt5.copy_rates_range("EURUSD",mt5.TIMEFRAME_H4,utc_from,utc_to)
df = pd.DataFrame(rates)
df['time'] = pd.to_datetime(df['time'],unit='s')
print(df)

                    time     open     high      low    close  tick_volume  \
0    2023-01-02 04:00:00  1.07016  1.07017  1.06909  1.06967          340
1    2023-01-02 08:00:00  1.06971  1.07005  1.06636  1.06784         5790
2    2023-01-02 12:00:00  1.06788  1.06898  1.06749  1.06788         3224
3    2023-01-02 16:00:00  1.06787  1.06819  1.06510  1.06607         5026
4    2023-01-02 20:00:00  1.06604  1.06727  1.06499  1.06665         2361
...                  ...      ...      ...      ...      ...          ...
1549 2023-12-29 04:00:00  1.10788  1.10792  1.10606  1.10660        12650
1550 2023-12-29 08:00:00  1.10660  1.10775  1.10443  1.10491        26954
1551 2023-12-29 12:00:00  1.10491  1.10809  1.10463  1.10486        34033
1552 2023-12-29 16:00:00  1.10487  1.10787  1.10422  1.10640        67685
1553 2023-12-29 20:00:00  1.10640  1.10641  1.10334  1.10360        30542

      spread  real_volume
0          1            0
1          0            0
2          0            0
3          0            0
4          0            0
...      ...          ...
1549       0            0
1550       0            0
1551       0            0
1552       0            0
1553       1            0

[1554 rows x 8 columns]

In [4]:
df.to_csv("EURUSD(2023).csv")

In [9]:
rates = mt5.copy_rates_from_pos("EURUSD",mt5.TIMEFRAME_M30,0,3)

In [10]:
type(rates)

numpy.ndarray

In [11]:
import pandas as pd
df = pd.DataFrame(rates)
df['time'] = pd.to_datetime(df['time'],unit='s')

In [12]:
df

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-08-02 22:30:00,1.09153,1.09159,1.09097,1.09128,1135,0,0
1,2024-08-02 23:00:00,1.09129,1.09149,1.09079,1.09082,594,1,0
2,2024-08-02 23:30:00,1.09082,1.09122,1.09080,1.09102,781,0,0