In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv("../EURUSD(2023).csv")

In [9]:
data

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume
0,0,2023-01-02 04:00:00,1.07016,1.07017,1.06909,1.06967,340,1,0
1,1,2023-01-02 08:00:00,1.06971,1.07005,1.06636,1.06784,5790,0,0
2,2,2023-01-02 12:00:00,1.06788,1.06898,1.06749,1.06788,3224,0,0
3,3,2023-01-02 16:00:00,1.06787,1.06819,1.06510,1.06607,5026,0,0
4,4,2023-01-02 20:00:00,1.06604,1.06727,1.06499,1.06665,2361,0,0
...,...,...,...,...,...,...,...,...,...
1549,1549,2023-12-29 04:00:00,1.10788,1.10792,1.10606,1.10660,12650,0,0
1550,1550,2023-12-29 08:00:00,1.10660,1.10775,1.10443,1.10491,26954,0,0
1551,1551,2023-12-29 12:00:00,1.10491,1.10809,1.10463,1.10486,34033,0,0
1552,1552,2023-12-29 16:00:00,1.10487,1.10787,1.10422,1.10640,67685,0,0
1553,1553,2023-12-29 20:00:00,1.10640,1.10641,1.10334,1.10360,30542,1,0

In [21]:
import pandas as pd

def heiken_ashi(data):
    """Calculate Heiken Ashi candles."""
    required_columns = ['open', 'high', 'low', 'close']
    for col in required_columns:
        if col not in data.columns:
            raise ValueError(f"Column '{col}' not found in the input dataframe")

    ha_data = pd.DataFrame(index=data.index)
    ha_data['HA_close'] = (data['open'] + data['high'] + data['low'] + data['close']) / 4
    ha_data['HA_open'] = (data['open'].shift(1) + data['close'].shift(1)) / 2
    ha_data['HA_high'] = data[['high', 'open', 'close']].max(axis=1)
    ha_data['HA_low'] = data[['low', 'open', 'close']].min(axis=1)

    ha_data['HA_open'].iloc[0] = data['open'].iloc[0]

    return ha_data

In [22]:
df_heiken_ashi = heiken_ashi(data)
df_heiken_ashi

C:\Users\rohan\AppData\Local\Temp\ipykernel_21272\1419109989.py:18: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  ha_data['HA_open'].iloc[0] = data['open'].iloc[0]

      HA_close   HA_open  HA_high   HA_low
0     1.069773  1.070160  1.07017  1.06909
1     1.068490  1.069915  1.07005  1.06636
2     1.068057  1.068775  1.06898  1.06749
3     1.066807  1.067880  1.06819  1.06510
4     1.066237  1.066970  1.06727  1.06499
...        ...       ...      ...      ...
1549  1.107115  1.106950  1.10792  1.10606
1550  1.105923  1.107240  1.10775  1.10443
1551  1.105622  1.105755  1.10809  1.10463
1552  1.105840  1.104885  1.10787  1.10422
1553  1.104938  1.105635  1.10641  1.10334

[1554 rows x 4 columns]