In [16]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_csv("../EURUSD(2023).csv")

In [18]:
data

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume
0,0,2023-01-02 04:00:00,1.07016,1.07017,1.06909,1.06967,340,1,0
1,1,2023-01-02 08:00:00,1.06971,1.07005,1.06636,1.06784,5790,0,0
2,2,2023-01-02 12:00:00,1.06788,1.06898,1.06749,1.06788,3224,0,0
3,3,2023-01-02 16:00:00,1.06787,1.06819,1.06510,1.06607,5026,0,0
4,4,2023-01-02 20:00:00,1.06604,1.06727,1.06499,1.06665,2361,0,0
...,...,...,...,...,...,...,...,...,...
1549,1549,2023-12-29 04:00:00,1.10788,1.10792,1.10606,1.10660,12650,0,0
1550,1550,2023-12-29 08:00:00,1.10660,1.10775,1.10443,1.10491,26954,0,0
1551,1551,2023-12-29 12:00:00,1.10491,1.10809,1.10463,1.10486,34033,0,0
1552,1552,2023-12-29 16:00:00,1.10487,1.10787,1.10422,1.10640,67685,0,0
1553,1553,2023-12-29 20:00:00,1.10640,1.10641,1.10334,1.10360,30542,1,0

In [19]:
import pandas as pd

def heiken_ashi(data):
    """Calculate Heiken Ashi candles."""
    required_columns = ['open', 'high', 'low', 'close']
    for col in required_columns:
        if col not in data.columns:
            raise ValueError(f"Column '{col}' not found in the input dataframe")

    ha_data = pd.DataFrame(index=data.index)
    ha_data['HA_close'] = (data['open'] + data['high'] + data['low'] + data['close']) / 4
    ha_data['HA_open'] = (data['open'].shift(1) + data['close'].shift(1)) / 2
    ha_data['HA_high'] = data[['high', 'open', 'close']].max(axis=1)
    ha_data['HA_low'] = data[['low', 'open', 'close']].min(axis=1)

    ha_data['HA_open'].iloc[0] = data['open'].iloc[0]

    return ha_data

In [20]:
df_heiken_ashi = heiken_ashi(data)
df_heiken_ashi

C:\Users\rohan\AppData\Local\Temp\ipykernel_3588\1187745629.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  ha_data['HA_open'].iloc[0] = data['open'].iloc[0]

      HA_close   HA_open  HA_high   HA_low
0     1.069773  1.070160  1.07017  1.06909
1     1.068490  1.069915  1.07005  1.06636
2     1.068057  1.068775  1.06898  1.06749
3     1.066807  1.067880  1.06819  1.06510
4     1.066237  1.066970  1.06727  1.06499
...        ...       ...      ...      ...
1549  1.107115  1.106950  1.10792  1.10606
1550  1.105923  1.107240  1.10775  1.10443
1551  1.105622  1.105755  1.10809  1.10463
1552  1.105840  1.104885  1.10787  1.10422
1553  1.104938  1.105635  1.10641  1.10334

[1554 rows x 4 columns]

In [21]:
data['HA_close'] = df_heiken_ashi['HA_close']
data['HA_open'] = df_heiken_ashi['HA_open']
data['HA_high'] = df_heiken_ashi['HA_high']
data['HA_low'] = df_heiken_ashi['HA_low']

In [22]:
data

,Unnamed: 0,time,open,high,low,close,tick_volume,spread,real_volume,HA_close,HA_open,HA_high,HA_low
0,0,2023-01-02 04:00:00,1.07016,1.07017,1.06909,1.06967,340,1,0,1.069773,1.070160,1.07017,1.06909
1,1,2023-01-02 08:00:00,1.06971,1.07005,1.06636,1.06784,5790,0,0,1.068490,1.069915,1.07005,1.06636
2,2,2023-01-02 12:00:00,1.06788,1.06898,1.06749,1.06788,3224,0,0,1.068057,1.068775,1.06898,1.06749
3,3,2023-01-02 16:00:00,1.06787,1.06819,1.06510,1.06607,5026,0,0,1.066807,1.067880,1.06819,1.06510
4,4,2023-01-02 20:00:00,1.06604,1.06727,1.06499,1.06665,2361,0,0,1.066237,1.066970,1.06727,1.06499
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,1549,2023-12-29 04:00:00,1.10788,1.10792,1.10606,1.10660,12650,0,0,1.107115,1.106950,1.10792,1.10606
1550,1550,2023-12-29 08:00:00,1.10660,1.10775,1.10443,1.10491,26954,0,0,1.105923,1.107240,1.10775,1.10443
1551,1551,2023-12-29 12:00:00,1.10491,1.10809,1.10463,1.10486,34033,0,0,1.105622,1.105755,1.10809,1.10463
1552,1552,2023-12-29 16:00:00,1.10487,1.10787,1.10422,1.10640,67685,0,0,1.105840,1.104885,1.10787,1.10422
1553,1553,2023-12-29 20:00:00,1.10640,1.10641,1.10334,1.10360,30542,1,0,1.104938,1.105635,1.10641,1.10334

In [23]:
data.drop(['Unnamed: 0','spread','tick_volume','real_volume'],axis=1,inplace=True)

In [24]:
data['HA_candle'] = data.apply(lambda row: 1 if row['HA_close'] > row['HA_open'] else 0, axis=1)

data

,time,open,high,low,close,HA_close,HA_open,HA_high,HA_low,HA_candle
0,2023-01-02 04:00:00,1.07016,1.07017,1.06909,1.06967,1.069773,1.070160,1.07017,1.06909,0
1,2023-01-02 08:00:00,1.06971,1.07005,1.06636,1.06784,1.068490,1.069915,1.07005,1.06636,0
2,2023-01-02 12:00:00,1.06788,1.06898,1.06749,1.06788,1.068057,1.068775,1.06898,1.06749,0
3,2023-01-02 16:00:00,1.06787,1.06819,1.06510,1.06607,1.066807,1.067880,1.06819,1.06510,0
4,2023-01-02 20:00:00,1.06604,1.06727,1.06499,1.06665,1.066237,1.066970,1.06727,1.06499,0
...,...,...,...,...,...,...,...,...,...,...
1549,2023-12-29 04:00:00,1.10788,1.10792,1.10606,1.10660,1.107115,1.106950,1.10792,1.10606,1
1550,2023-12-29 08:00:00,1.10660,1.10775,1.10443,1.10491,1.105923,1.107240,1.10775,1.10443,0
1551,2023-12-29 12:00:00,1.10491,1.10809,1.10463,1.10486,1.105622,1.105755,1.10809,1.10463,0
1552,2023-12-29 16:00:00,1.10487,1.10787,1.10422,1.10640,1.105840,1.104885,1.10787,1.10422,1
1553,2023-12-29 20:00:00,1.10640,1.10641,1.10334,1.10360,1.104938,1.105635,1.10641,1.10334,0

In [25]:
df = data

In [26]:
import pandas as pd

# Assuming your DataFrame is named df
df['Trade_Result'] = None  # Initialize column for trade results
df['Trade_PnL'] = None     # Initialize column for profit/loss values

# Loop through the DataFrame to track trades
for i in range(len(df) - 1):  # Iterate until the second-last row to avoid index out-of-range errors
    entry_price = df.loc[i, 'open']  # Trade entry at the open price
    current_candle = df.loc[i, 'HA_candle']
    
    # Look ahead to find the first row where the candle color changes
    for j in range(i + 1, len(df)):
        if df.loc[j, 'HA_candle'] != current_candle:  # Candle color changes
            exit_price = df.loc[j, 'close']  # Exit the trade at the close price
            
            # Calculate profit or loss based on the trade type
            if current_candle == 0:  # Sell trade
                profit = entry_price - exit_price
            else:  # Buy trade
                profit = exit_price - entry_price
            
            # Record the result (1 for profit, 0 for loss)
            df.loc[i, 'Trade_Result'] = 1 if profit > 0 else 0
            df.loc[i, 'Trade_PnL'] = profit  # Record the profit or loss value
            break  # Exit the inner loop once the trade is closed

# Display the DataFrame with the new 'Trade_Result' and 'Trade_PnL' columns
print(df[['time', 'HA_candle', 'Trade_Result', 'Trade_PnL']])

                     time  HA_candle Trade_Result Trade_PnL
0     2023-01-02 04:00:00          0            1   0.00419
1     2023-01-02 08:00:00          0            1   0.00374
2     2023-01-02 12:00:00          0            1   0.00191
3     2023-01-02 16:00:00          0            1    0.0019
4     2023-01-02 20:00:00          0            1   0.00007
...                   ...        ...          ...       ...
1549  2023-12-29 04:00:00          1            0  -0.00297
1550  2023-12-29 08:00:00          0            1    0.0002
1551  2023-12-29 12:00:00          0            0  -0.00149
1552  2023-12-29 16:00:00          1            0  -0.00127
1553  2023-12-29 20:00:00          0         None      None

[1554 rows x 4 columns]

In [27]:
df.head(30)

,time,open,high,low,close,HA_close,HA_open,HA_high,HA_low,HA_candle,Trade_Result,Trade_PnL
0,2023-01-02 04:00:00,1.07016,1.07017,1.06909,1.06967,1.069773,1.070160,1.07017,1.06909,0,1,0.00419
1,2023-01-02 08:00:00,1.06971,1.07005,1.06636,1.06784,1.068490,1.069915,1.07005,1.06636,0,1,0.00374
2,2023-01-02 12:00:00,1.06788,1.06898,1.06749,1.06788,1.068057,1.068775,1.06898,1.06749,0,1,0.00191
3,2023-01-02 16:00:00,1.06787,1.06819,1.06510,1.06607,1.066807,1.067880,1.06819,1.06510,0,1,0.0019
4,2023-01-02 20:00:00,1.06604,1.06727,1.06499,1.06665,1.066237,1.066970,1.06727,1.06499,0,1,0.00007
5,2023-01-03 00:00:00,1.06642,1.06830,1.06493,1.06597,1.066405,1.066345,1.06830,1.06493,1,0,-0.01166
6,2023-01-03 04:00:00,1.06596,1.06802,1.06575,1.06637,1.066525,1.066195,1.06802,1.06575,1,0,-0.0112
7,2023-01-03 08:00:00,1.06637,1.06677,1.05339,1.05476,1.060323,1.066165,1.06677,1.05339,0,1,0.01176
8,2023-01-03 12:00:00,1.05479,1.05700,1.05196,1.05604,1.054948,1.060565,1.05700,1.05196,0,1,0.00018
9,2023-01-03 16:00:00,1.05604,1.05974,1.05372,1.05461,1.056028,1.055415,1.05974,1.05372,1,0,-0.00134
10,2023-01-03 20:00:00,1.05463,1.05689,1.05433,1.05470,1.055137,1.055325,1.05689,1.05433,0,0,-0.00204
11,2023-01-04 00:00:00,1.05465,1.05691,1.05402,1.05667,1.055562,1.054665,1.05691,1.05402,1,1,0.00609
12,2023-01-04 04:00:00,1.05667,1.05784,1.05612,1.05693,1.056890,1.055660,1.05784,1.05612,1,1,0.00407
13,2023-01-04 08:00:00,1.05693,1.06354,1.05594,1.06109,1.059375,1.056800,1.06354,1.05594,1,1,0.00381
14,2023-01-04 12:00:00,1.06109,1.06244,1.05949,1.06105,1.061017,1.059010,1.06244,1.05949,1,0,-0.00035
15,2023-01-04 16:00:00,1.06106,1.06286,1.05812,1.06074,1.060695,1.061070,1.06286,1.05812,0,0,-0.00098
16,2023-01-04 20:00:00,1.06074,1.06129,1.05851,1.06030,1.060210,1.060900,1.06129,1.05851,0,0,-0.0013
17,2023-01-05 00:00:00,1.06015,1.06315,1.05973,1.06204,1.061268,1.060520,1.06315,1.05973,1,1,0.0022
18,2023-01-05 04:00:00,1.06202,1.06202,1.06017,1.06106,1.061317,1.061095,1.06202,1.06017,1,1,0.00033
19,2023-01-05 08:00:00,1.06107,1.06291,1.05902,1.06235,1.061338,1.061540,1.06291,1.05902,0,1,0.00681
20,2023-01-05 12:00:00,1.06238,1.06260,1.05514,1.05524,1.058840,1.061710,1.06260,1.05514,0,1,0.00812
21,2023-01-05 16:00:00,1.05524,1.05675,1.05150,1.05299,1.054120,1.058810,1.05675,1.05150,0,1,0.00098
22,2023-01-05 20:00:00,1.05299,1.05433,1.05152,1.05207,1.052728,1.054115,1.05433,1.05152,0,0,-0.00127
23,2023-01-06 00:00:00,1.05205,1.05326,1.05178,1.05250,1.052398,1.052530,1.05326,1.05178,0,0,-0.00221
24,2023-01-06 04:00:00,1.05251,1.05362,1.05106,1.05143,1.052155,1.052275,1.05362,1.05106,0,0,-0.00175
25,2023-01-06 08:00:00,1.05148,1.05310,1.04968,1.05075,1.051252,1.051970,1.05310,1.04968,0,0,-0.00278
26,2023-01-06 12:00:00,1.05075,1.05450,1.04832,1.05426,1.051957,1.051115,1.05450,1.04832,1,1,0.02287
27,2023-01-06 16:00:00,1.05426,1.06382,1.05011,1.06377,1.057990,1.052505,1.06382,1.05011,1,1,0.01936
28,2023-01-06 20:00:00,1.06378,1.06481,1.06295,1.06427,1.063953,1.059015,1.06481,1.06295,1,1,0.00984
29,2023-01-09 00:00:00,1.06394,1.06719,1.06360,1.06667,1.065350,1.064025,1.06719,1.06360,1,1,0.00968

In [28]:
df.isna().sum()

time            0
open            0
high            0
low             0
close           0
HA_close        0
HA_open         0
HA_high         0
HA_low          0
HA_candle       0
Trade_Result    1
Trade_PnL       1
dtype: int64

In [29]:
df.dropna(inplace=True)

In [35]:
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Bidirectional, GRU

# Step 2: Defining the improved LSTM model
model = Sequential()

# First LSTM Layer with more units and bidirectional
model.add(Bidirectional(LSTM(units=500, return_sequences=True), input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dropout(0.3))  # Dropout to avoid overfitting

# Second LSTM Layer
model.add(LSTM(units=50, return_sequences=False))
model.add(Dropout(0.2))

# Fully connected Dense layer
model.add(Dense(units=50, activation='relu'))
model.add(Dropout(0.2))

# Output Layer (Sigmoid for binary classification)
model.add(Dense(units=1, activation='sigmoid'))

# Compile the model with lower learning rate and Adam optimizer
model.compile(optimizer=Adam(learning_rate=0.0001), loss='binary_crossentropy', metrics=['accuracy'])

# Step 3: Training the model
history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

# Evaluate and predict
y_pred = (model.predict(X_test) > 0.5).astype(int)

# Classification report and accuracy score
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

# Plotting training and validation accuracy and loss as before

Epoch 1/50
39/39 [==============================] - 4s 37ms/step - loss: 0.6928 - accuracy: 0.5161 - val_loss: 0.6933 - val_accuracy: 0.4935
Epoch 2/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6936 - accuracy: 0.5065 - val_loss: 0.6934 - val_accuracy: 0.4871
Epoch 3/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6929 - accuracy: 0.5194 - val_loss: 0.6937 - val_accuracy: 0.4903
Epoch 4/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6923 - accuracy: 0.5161 - val_loss: 0.6937 - val_accuracy: 0.5032
Epoch 5/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6923 - accuracy: 0.5234 - val_loss: 0.6939 - val_accuracy: 0.4935
Epoch 6/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6929 - accuracy: 0.5153 - val_loss: 0.6938 - val_accuracy: 0.5000
Epoch 7/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6924 - accuracy: 0.5323 - val_loss: 0.6937 - val_accuracy: 0.5161
Epoch 8/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6924 - accuracy: 0.5218 - val_loss: 0.6937 - val_accuracy: 0.5032
Epoch 9/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6924 - accuracy: 0.5355 - val_loss: 0.6937 - val_accuracy: 0.5258
Epoch 10/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6930 - accuracy: 0.5218 - val_loss: 0.6932 - val_accuracy: 0.5097
Epoch 11/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6919 - accuracy: 0.5355 - val_loss: 0.6939 - val_accuracy: 0.5097
Epoch 12/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6926 - accuracy: 0.5323 - val_loss: 0.6936 - val_accuracy: 0.5161
Epoch 13/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6927 - accuracy: 0.5282 - val_loss: 0.6938 - val_accuracy: 0.5194
Epoch 14/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6913 - accuracy: 0.5435 - val_loss: 0.6938 - val_accuracy: 0.5129
Epoch 15/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6927 - accuracy: 0.5258 - val_loss: 0.6940 - val_accuracy: 0.5097
Epoch 16/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6927 - accuracy: 0.5371 - val_loss: 0.6938 - val_accuracy: 0.5065
Epoch 17/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6916 - accuracy: 0.5427 - val_loss: 0.6935 - val_accuracy: 0.5194
Epoch 18/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6910 - accuracy: 0.5355 - val_loss: 0.6939 - val_accuracy: 0.5161
Epoch 19/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6916 - accuracy: 0.5387 - val_loss: 0.6935 - val_accuracy: 0.5194
Epoch 20/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6922 - accuracy: 0.5218 - val_loss: 0.6936 - val_accuracy: 0.5161
Epoch 21/50
39/39 [==============================] - 1s 24ms/step - loss: 0.6916 - accuracy: 0.5387 - val_loss: 0.6938 - val_accuracy: 0.5097
Epoch 22/50
39/39 [==============================] - 1s 23ms/step - loss: 0.6900 - accuracy: 0.5395 - val_loss: 0.6939 - val_accuracy: 0.5161
Epoch 23/50
39/39 [==============================] - 1s 23ms/step - loss: 0.6915 - accuracy: 0.5379 - val_loss: 0.6939 - val_accuracy: 0.5032
Epoch 24/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6919 - accuracy: 0.5419 - val_loss: 0.6934 - val_accuracy: 0.5161
Epoch 25/50
39/39 [==============================] - 1s 23ms/step - loss: 0.6909 - accuracy: 0.5331 - val_loss: 0.6936 - val_accuracy: 0.5161
Epoch 26/50
39/39 [==============================] - 1s 23ms/step - loss: 0.6917 - accuracy: 0.5290 - val_loss: 0.6933 - val_accuracy: 0.5161
Epoch 27/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6915 - accuracy: 0.5210 - val_loss: 0.6932 - val_accuracy: 0.5032
Epoch 28/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6904 - accuracy: 0.5371 - val_loss: 0.6931 - val_accuracy: 0.5161
Epoch 29/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6912 - accuracy: 0.5339 - val_loss: 0.6933 - val_accuracy: 0.5097
Epoch 30/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6903 - accuracy: 0.5395 - val_loss: 0.6937 - val_accuracy: 0.5161
Epoch 31/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6907 - accuracy: 0.5371 - val_loss: 0.6936 - val_accuracy: 0.5129
Epoch 32/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6905 - accuracy: 0.5266 - val_loss: 0.6939 - val_accuracy: 0.5129
Epoch 33/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6904 - accuracy: 0.5476 - val_loss: 0.6936 - val_accuracy: 0.5129
Epoch 34/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6904 - accuracy: 0.5460 - val_loss: 0.6936 - val_accuracy: 0.5129
Epoch 35/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6907 - accuracy: 0.5355 - val_loss: 0.6939 - val_accuracy: 0.5097
Epoch 36/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6899 - accuracy: 0.5379 - val_loss: 0.6934 - val_accuracy: 0.5161
Epoch 37/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6911 - accuracy: 0.5298 - val_loss: 0.6931 - val_accuracy: 0.5161
Epoch 38/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6913 - accuracy: 0.5258 - val_loss: 0.6931 - val_accuracy: 0.5161
Epoch 39/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6905 - accuracy: 0.5298 - val_loss: 0.6930 - val_accuracy: 0.5065
Epoch 40/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6901 - accuracy: 0.5452 - val_loss: 0.6936 - val_accuracy: 0.5032
Epoch 41/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6887 - accuracy: 0.5411 - val_loss: 0.6938 - val_accuracy: 0.5129
Epoch 42/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6901 - accuracy: 0.5355 - val_loss: 0.6935 - val_accuracy: 0.5129
Epoch 43/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6902 - accuracy: 0.5371 - val_loss: 0.6934 - val_accuracy: 0.5129
Epoch 44/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6900 - accuracy: 0.5403 - val_loss: 0.6935 - val_accuracy: 0.5097
Epoch 45/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6898 - accuracy: 0.5395 - val_loss: 0.6943 - val_accuracy: 0.5161
Epoch 46/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6890 - accuracy: 0.5452 - val_loss: 0.6938 - val_accuracy: 0.5065
Epoch 47/50
39/39 [==============================] - 1s 21ms/step - loss: 0.6899 - accuracy: 0.5460 - val_loss: 0.6935 - val_accuracy: 0.5161
Epoch 48/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6895 - accuracy: 0.5395 - val_loss: 0.6935 - val_accuracy: 0.5065
Epoch 49/50
39/39 [==============================] - 1s 23ms/step - loss: 0.6889 - accuracy: 0.5387 - val_loss: 0.6935 - val_accuracy: 0.5161
Epoch 50/50
39/39 [==============================] - 1s 22ms/step - loss: 0.6889 - accuracy: 0.5468 - val_loss: 0.6941 - val_accuracy: 0.5097
Accuracy: 0.5096774193548387
              precision    recall  f1-score   support

           0       0.53      0.25      0.34       157
           1       0.50      0.77      0.61       153

    accuracy                           0.51       310
   macro avg       0.52      0.51      0.48       310
weighted avg       0.52      0.51      0.47       310